/*
 * Custom CSS
 * Since: 10 June, 2017
 */

body,
select,
table,
p,
h1,
h2,
h3,
h4,
h5,
input,
textarea,
label {
    font-family: 'Source Sans Pro', sans-serif !important;
}

html,
body {
    height: 100%;
}

.hide {
    display: none!important;
}

p,
a,
th,
td {
    font-size: 14px !important;
}

a:hover {
    text-decoration: none;
    opacity: 0.5;
    /*border-bottom: 0;*/
}

.nav-item a:hover {
    opacity: 1 !important;
}

textarea {
    resize: none;
}

#tab_lead_data .table.table-bordered.table-striped.table-condensed.flip-content th {
    background-color: #EEE;
}

span.select2.select2-container {
    width: 100% !important;
}


/*#form_csv select {
    border: 1px solid #ccc;
    padding: 1px 8px;
    width: 40%;
}*/

.invoice_product_links {
    margin-bottom: 16px;
    text-align: right;
}

.top_bar,
.top_bar a {
    font-size: 14px !important;
}

img {
    border: none;
}

input,
select,
textarea,
th,
td {
    font-size: 1em;
}


/* =====_ Hide all spinners from input[type=number] _===== */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*Supports Mozilla*/

input[type=number] {
    -moz-appearance: textfield;
}

#ref_error {
    background-color: #FEDCE1;
    color: #f00;
    font-size: 12px;
    padding: 4px 18px;
    display: block;
}

.erp_show_err_msg {
    background-color: #fff;
    border: 3px solid #f00;
    border-radius: 4px !important;
    left: 50%;
    margin-left: -72px;
    padding: 0 34px;
    position: absolute;
    top: 50%;
    margin-top: -80px;
    z-index: 99999;
    box-shadow: 4px 4px 8px #888888;
    font-weight: bold;
    display: none;
}

.event_delete {
    float: right;
    margin-right: 8px;
    background-color: #f00;
    color: #FFF;
    border-radius: 50% !important;
    padding: 0 4px;
    display: none;
    cursor: pointer;
}

.show_event_btn {
    float: right;
}


/*.ui-datepicker-next {display:none !important;}*/

.download_attachments {
    margin-right: 8px;
}

#edit_identification {
    display: none;
}

.salary_otr_val span.otr_characters {
    display: inline-block;
}

.salary_otr_val input[type=number] {
    display: inline;
}

.busyloading.excel_sheet_body {
    left: 50%;
    margin-left: -52px;
    position: absolute;
    top: 50%;
    display: none;
}

.excel_body {
    width: 100%;
    overflow-x: auto;
    height: 650px;
}

.remove_invoice {
    background-color: #F00;
    color: #FFF !important;
    padding: 0 4px;
}

.remove_item {
    margin-right: 4px;
}

.edit_item {
    margin-right: 4px;
}

.remove_item i {
    color: #F00;
    font-size: 20px !important;
}

.edit_item i {
    color: #32c5d2;
    font-size: 20px !important;
}

.step_up_down {
    margin-right: 4px;
}

.step_up_down i {
    color: #32c5d2;
    font-size: 20px !important;
}

.link_to {
    background-color: #5BC0DE;
    color: #fff;
    border-radius: 3px !important;
    padding: 1px 3px !important;
    margin: 0 !important;
    line-height: 0 !important;
    display: inline-block;
}

.link_to i {
    font-size: 13px !important;
}

.done_item {
    margin-right: 4px;
}

.done_item i {
    color: #508EDB;
    font-size: 18px !important;
}

.box {
    padding: 5px;
}

table.partner_invoice_temp {
    border-collapse: collapse;
}

.row_bg_color {
    background-color: #E7F3F9 !important;
}

.header_msg_error {
    background-color: #FEDCE1;
    color: #f00;
    font-size: 14px;
    padding: 10px 18px;
    border-left: 5px solid #F00;
    margin-bottom: 10px;
    display: block;
}

.refrech_code {
    /* background: #36C6D3 none repeat scroll 0 0; */
    background: #b6161c none repeat scroll 0 0;
    color: #fff;
    padding: 7px 9px 5px;
    cursor: pointer;
}

.refrech_code i.fa-refresh {
    font-size: 16px;
}

.editable_staff,
.disable_staff {
    margin-left: 108px;
}

.editable_staff i,
.disable_staff i {
    font-size: 18px;
    cursor: pointer;
    color: #37C6D3;
}

.product_error_msg {
    background-color: #FEDCE1;
    color: #f00;
    font-size: 13px;
    padding: 7px 18px;
    display: none;
    border-left: 5px solid #f00;
}

.pencil_edit_view {
    /* background-color: #36c6d3; */
    background-color: #b6161c;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    padding: 1px 6px;
}

.update_edit_value {
    background-color: #508EDB;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    padding: 1px 6px;
}

.cancel_edit_update {
    background-color: #EEA236;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    margin-right: 4px;
    padding: 1px 4px 0;
    line-height: 17px !important;
    font-size: 14px;
    border-radius: 3px !important;
}


/*========== Theme input styling ==========*/

.form-group.form-md-line-input {
    position: relative;
    margin: 0 0 30px 0 !important;
    padding-top: 25px !important;
}

.form-horizontal .form-group.form-md-line-input .form-control~label,
.form-horizontal .form-group.form-md-line-input .form-control .form-control-focus {
    left: 0 !important;
    right: 0 !important;
}

.form-horizontal .control-label {
    text-align: left !important;
}


/*============ Page Breadcrumbs ============*/

.top_bar.page-content {
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0;
}


/***.top_status_bar {
    height: 6px;
    background: #f1f4f7;
    width: 100%;
    position: relative;
}

.top_status_bar .progress_bar {
    position: absolute;
    height: 6px;
    background: #44b6ae;
    top: 0;
    width: 100%;
    display: block;
}***/

.breadcrumbs {
    height: 38px;
    background: #f1f4f7;
    width: 100%;
}

.breadcrumbs ul {
    list-style: none;
    width: 50%;
    float: left;
}

.breadcrumbs li {
    display: inline-block;
    padding: 8px 26px 0 0;
    position: relative;
}

.breadcrumbs li a {
    color: #888888;
    text-decoration: none;
}

.breadcrumb_link {
    cursor: text !important;
}

.breadcrumbs li a:hover {
    /* color: #44b6ae; */
    color: #b6161c;
}

.breadcrumbs li:after {
    content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    top: 8px;
    right: 9px;
    color: #888888;
}

.breadcrumbs li:last-child:after {
    content: "";
}

.theme_btn {
    display: inline-block;
    background: #37c6d3;
    color: #fff;
    padding: 8px 40px;
    margin: 0;
    /*width: 8%;*/
    text-align: center;
}

.theme_btn:hover,
.theme_btn_capsule:hover {
    color: #fff;
    background: #ed1c24;
}

.theme_btn_capsule {
    display: inline-block;
    background: #37c6d3;
    color: #fff;
    padding: 4px 0;
    margin: 0;
    width: 150px;
    text-align: center;
}


/*=================> Salary Slip <=================*/

#get_salary_slip .portlet-title h4 {
    display: inline-block;
}

.staff_detail_row {
    margin-bottom: 1px;
    padding: 0 10px;
}

.staff_salary_row {
    margin-bottom: 8px;
    padding: 0 10px;
}

.staff_detail_row .col-md-6,
.staff_salary_row .col-md-6 {
    width: 49.6%;
    margin-bottom: 14px;
    float: left;
}

.col-md_right {
    float: right !important;
}

.staff_detail_heading {
    background-color: #32c5d2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.staff_detail_text {
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
}

.salary_heading {
    background-color: #32c5d2;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    text-align: center;
}

.salary_details_left {
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
    float: left;
    width: 28%;
}

.salary_details_right {
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
    float: right;
    width: 71.9%;
}

.gross_total .col-md-3.salary_details_left {
    text-align: right;
    font-weight: bold;
}

.staff_salary_row .col-md-2 {
    background-color: #32c5d2;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    float: right;
}

.staff_salary_row .col-md-4 {
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
    float: right;
}

.salary_pdf_slip {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border: 0 none;
    display: none;
    margin-top: 3px;
    text-align: center;
}

.add_salary_allowance,
.add_salary_deduction {
    border: 1px solid;
    color: #fff;
    display: block;
    float: right;
    margin-right: 0;
    margin-top: -2px;
    padding: 0 5px;
}


/*=================> Overtime Rate <=================*/

.edit_otr_rate,
.update_otr_rate {
    /* background-color: #36c6d3; */
    background-color: #b6161c;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-top: 8px;
    padding: 1px 6px;
}

.loading_otr_rate {
    display: none;
    margin-top: 8px;
}

.otr_labels label.control-label {
    margin-top: 9px !important;
}

.parent_otr p {
    display: inline-block;
    font-size: 11px;
    position: absolute;
    color: #9F9F9F;
}

.parent_otr p.otr_days_max {
    top: 35px;
    left: 109px;
}

.parent_otr p.otr_hours_max {
    top: 35px;
    left: 275px;
}


/*=================> Support Ticket <=================*/

.activity_body {
    /* border: 1px solid #36C6D3; */
    border: 1px solid #b6161c;
    margin-bottom: 20px;
}

.activity_main_title h4 {
    /* background-color: #36C6D3; */
    background-color: #b6161c;
    color: #FFF;
    margin: 0;
    font-weight: bold;
    padding: 6px 10px;
    font-size: 16px;
}

.activity_msg_body {
    border: 1px solid #E0E0E0;
    margin: 10px 16px;
    font-size: 13px;
}

.activity_attach_body {
    border: 1px solid #E0E0E0;
    margin: 10px 16px;
    font-size: 13px;
}

.ticket_activity_info,
.ticket_attach_info {
    padding: 8px 22px;
}

.ticket_activity_details,
.ticket_attach_details {
    padding: 8px 6px;
    border-left: 1px solid #E0E0E0;
}

.activity_body h5 {
    margin: 0 0 16px;
    padding: 0;
}

.activity_body h5 span {
    display: block;
    font-size: 12px;
    margin-top: 7px;
}

.ticket_attach_details a {
    display: inline-block;
    margin-right: 16px;
    font-size: 16px;
}


/* Message Center */

.email_setting_msg {
    background-color: #FEDCE1;
    border-left: 5px solid #f00;
    color: #ff2c2c;
    margin-bottom: 18px;
    padding: 5px 16px;
}


/* Setting Tabs */

.setting_tabs .portlet-title {
    border-bottom: 1px solid #eee;
    float: right;
    margin-bottom: 32px;
    padding-bottom: 8px;
    text-align: right;
    width: 100%;
}

.input-spinner {
    background: url(../img/input-spinner.gif) no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 8px;
    display: none;
}

.file-success-message {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
    border-radius: 4px;
    color: #3C763D;
    margin: 5px;
    padding: 15px;
}

.customer_ticket_info {
    margin-left: 0;
}

.customer_ticket_info h5 {
    display: inline-block;
    float: left;
    font-weight: bold;
}

.customer_ticket_info span {
    display: inline-block;
    margin-left: 14px;
    margin-top: 8px;
}

.customer_info {
    /* border: 1px solid #36C6D3; */
    border: 1px solid #b6161c;
    width: 48%;
    padding: 8px 14px;
}

.ticket_info {
    /* border: 1px solid #36C6D3; */
    border: 1px solid #b6161c;
    width: 48%;
    margin-left: 48px;
    padding: 8px 14px;
}

#msg_load_div {
    position: relative;
}

#msg_load_div img {
    left: 50%;
    margin-left: -84px;
    position: absolute;
    top: 6px;
    display: none;
}

.msg_load_more,
#msg_no_more {
    background: #ECECEC;
    display: block;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
}

.msg_load_more:hover {
    text-decoration: none;
    border-bottom: 0;
}


/*============ Calender ============*/

.calendar {
    font-family: Arial, Verdana, Sans-serif;
    width: 100%;
    min-width: 960px;
    border-collapse: collapse;
}

.calendar tbody tr:first-child th {
    color: #505050;
    margin: 0 0 10px 0;
    padding-bottom: 18px;
}

.calendar tbody tr:first-child th:nth-child(1) {
    float: left;
}

.calendar tbody tr:first-child th:nth-child(2) {
    text-align: center;
}

.calendar tbody tr:first-child th:nth-child(3) {
    float: right;
    margin-right: 8px;
}

.calendar .calender_box .calender_conetent {
    display: block;
    float: left;
    padding-left: 8px;
    padding-right: 6px;
}

.calendar .calender_box .calender_conetent .list-unstyled {
    margin-bottom: 4px;
    /*cursor: pointer;*/
}

.calendar tbody tr:nth-child(2) th {
    background: #e7ecf1 none repeat scroll 0 0;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 0;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #757575;
    font-size: 10px;
}

.calendar td {
    width: 14%;
    /* Force all cells to be about the same width regardless of content */
    border: 1px solid #CCC;
    height: 90px;
    vertical-align: top;
    font-size: 10px;
    padding: 0;
}

.calendar td:hover {
    background: #F3F3F3;
}

.day_listing {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #2C2C2C;
    padding: 5px 5px 0 0;
}

div.today {
    background: #E9EFF7;
    overflow: hidden;
    padding-bottom: 12px;
}

.notify_date_time {
    display: none;
}

.action_span {
    cursor: pointer;
    color: #337ab7;
    display: inline-block;
    margin-right: 8px;
}

.modal.add_event,
.modal.edit_event,
.add_lead_event {
    z-index: 0 !important;
    top: 88px !important;
}

.modal.edit_working_day {
    z-index: 20 !important;
    top: 88px !important;
}

.view_calender td time,
small {
    display: block;
}

.view_calender td p {
    display: block;
    margin-top: 10px !important;
}

.event_notification {
    background-color: #FEDCE1;
    border-left: 5px solid #f00;
    color: #f00;
    font-size: 13px;
    margin-top: 10px;
    padding: 4px 18px;
}

.set_lead_event {
    float: right;
}

.lead_edit_view #tab_general input[type='text'] {
    z-index: 0 !important;
}

.calender_box .calender_conetent .list-unstyled {
    cursor: pointer;
}


/* STAFF WORKING DAYS n TIMING */

.apply_overtime_rate {
    border: 1px solid #ddd;
    padding: 20px 24px;
    width: 94%;
    display: none;
}

.working_days_timing {
    border-top: 1px solid #eee;
    padding: 20px 0 0;
    width: 77%;
    margin-left: 0;
}

.working_days_timing div {
    padding: 0;
}

.working_days_timing .col-md-3 {
    width: 22%;
}

.working_days_timing .working_days {
    /* background: #36c6d3 none repeat scroll 0 0; */
    background: #b6161c none repeat scroll 0 0;
    color: #fff;
    margin-right: 14px;
    padding: 4px 12px;
}

.working_error_msg {
    background-color: #FEDCE1;
    border-left: 5px solid #f00;
    color: #f00;
    font-size: 13px;
    margin-top: 10px;
    padding: 4px 18px;
    width: 45.5%;
    display: none;
}


/*======= Options Setup*/

.options-sidebar,
.option-body {
    border: 1px solid #e7ecf1;
    border-radius: 4px;
    padding: 20px;
}

.options_setup .options-nav {
    list-style: outside none none;
    padding: 0;
    margin: 0 !important;
}

.options_setup .options-nav li {
    margin: 0 0 8px;
    padding: 0;
    /* background-color: #36C6D3; */
    background-color: #b6161c;
}

.options_setup .options-nav li a {
    border-left: 4px solid transparent;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #FFF;
}

.options_setup .options-nav li a:hover {
    background: #EFF0F1 none repeat scroll 0 0;
    /* color: #36C6D3; */
    color: #b6161c;
}

.sub_tab_panel {
    padding: 0 12px;
}

.currency_dropdown {
    display: none;
}

.add_currency {
    /* background: #36C6D3 none repeat scroll 0 0; */
    background: #b6161c none repeat scroll 0 0;
    color: #fff;
    padding: 0 5px;
    position: absolute;
    right: 22px;
    top: 7px;
    cursor: pointer;
}


/*=================> Salary Slip Print <=================*/

@media print {
    .salary_month_year {
        display: none !important;
    }
    #salary_slip {
        border: 0 !important;
    }
    #salary_slip table {
        border-collapse: collapse;
    }
    .salary_main_title,
    #get_salary_slip .more_allowances,
    #get_salary_slip .more_deductions {
        background-color: #C4C4C4 !important;
        color: #FFF !important;
        -webkit-print-color-adjust: exact;
    }
    .add_salary_allowance {
        display: none;
    }
}


/*=================> Salary Slip PDF <=================*/

.pdf_container {
    width: 100%;
    height: auto;
}

.pdf_wrapper {
    /*border: 1px solid #32c5d2;*/
    width: 90%;
    height: auto;
    margin: 0 auto 20px;
    overflow: hidden;
}


/*===== PDF HEADER =====*/

.salary_pdf_header {
    background-color: #007B8A;
    width: 100%;
    height: auto;
    color: #FFF;
    padding: 14px 16px 0;
}

.salary_pdf_header .pdf_wrapper {
    width: 92%;
}

.pdf_logo {
    /*background-color: #FFF;*/
    color: #32c5d2;
    width: 24%;
    height: auto;
    padding: 8px 14px;
    float: left;
    text-align: center;
}

.pdf_header_detail {
    /*border: 1px solid #32c5d2;*/
    width: 24%;
    height: auto;
    margin: 0 8px 8px;
    float: left;
    text-align: center;
}

.pdf_header_detail img {
    margin-bottom: 12px;
}

.pdf_header_detail span {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-bottom: 8px;
}

.pdf_header_detail.pdf_header_phone {
    border-left: 3px solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(white, rgba(255, 255, 255, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(white, rgba(255, 255, 255, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(white, rgba(255, 255, 255, 0)) 1 100%;
    border-image: linear-gradient(to white, black, rgba(255, 255, 255, 0)) 1 100%;
    margin: 0 8px;
}

.pdf_header_detail.pdf_header_email {
    border: 3px solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(white, rgba(255, 255, 255, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(white, rgba(255, 255, 255, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(white, rgba(255, 255, 255, 0)) 1 100%;
    border-image: linear-gradient(to white, black, rgba(255, 255, 255, 0)) 1 100%;
    margin: 0 12px;
}

.pdf_header_detail.pdf_header_address {
    padding: 0;
}


/*===== PDF HEADER =====*/


/*===== PDF SALARY MONTH HEADING =====*/

.pdf_wrapper .pdf_salary_month {
    color: #58595B;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 14px;
}


/*===== PDF SALARY MONTH HEADING =====*/


/*===== PDF SALARY DETAILS =====*/

.pdf_salary_details {
    border: 2px solid #8c8c8c;
    margin-bottom: 10px;
    overflow: hidden;
}

.pdf_salary_details .pdf_staff_salary_row,
.pdf_salary_details .pdf_salary_amount_row {
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #8c8c8c;
}

.pdf_salary_details .pdf_staff_salary_row:last-child {
    border-bottom: 0px;
}

.pdf_salary_details .pdf_salary_amount_row:last-child {
    border-bottom: 0px;
}

.pdf_staff_salary_row .pdf_staff_salary_left {
    border-right: 1px solid #8c8c8c;
    float: left;
    width: 20%;
    padding: 6px 8px;
    color: #58595B;
    font-size: 14px;
    font-weight: 600;
}

.pdf_staff_salary_row .pdf_staff_salary_right {
    border-right: 1px solid #8c8c8c;
    float: left;
    width: 30%;
    padding: 6px 8px;
    color: #58595B;
    font-size: 14px;
    font-weight: 600;
}

.pdf_staff_salary_row .pdf_staff_salary_right:last-child {
    border-right: 0px;
}

.pdf_salary_amount_row .pdf_salary_amount_left {
    border-right: 1px solid #8c8c8c;
    float: left;
    width: 78%;
    padding: 6px 8px;
    color: #58595B;
    font-size: 14px;
    font-weight: 600;
}

.pdf_salary_amount_row .pdf_salary_amount_right {
    border-right: 1px solid #8c8c8c;
    float: left;
    width: 22%;
    padding: 6px 8px;
    color: #58595B;
    font-size: 14px;
    font-weight: 600;
}

.pdf_salary_amount_row .pdf_salary_amount_right:last-child {
    border-right: 0px;
}

.pdf_salary_amount_row .pdf_allowance_deduction_container {
    float: left;
    margin: 14px 24%;
    width: 50%;
}

.pdf_allowance_deduction_row {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 4px;
}

.pdf_allowance_deduction_left {
    float: left;
    width: 35.7%;
    height: auto;
    border: 1px solid #A8A8A8;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: 600;
    color: #58595B;
}

.pdf_allowance_deduction_right {
    float: right;
    width: 64%;
    height: auto;
    border: 1px solid #A8A8A8;
    padding: 6px 8px;
    font-size: 12px;
    color: #58595B;
}


/*===== PDF SALARY DETAILS =====*/


/*===== PDF SALARY SIGNATURE =====*/

.pdf_salary_signature {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}

.pdf_salary_signature .pdf_signature_left {
    float: left;
    width: 40%;
    height: auto;
}

.pdf_salary_signature .pdf_signature_right {
    float: right;
    width: 40%;
    height: auto;
}

.pdf_salary_signature .pdf_signature_heading {
    float: left;
    width: 24%;
    color: #58595B;
    font-size: 16px;
    font-weight: 600;
}

.pdf_salary_signature .pdf_signature_text {
    border-bottom: 2px solid #58595B;
    width: 76%;
    float: left;
    height: 23px;
}


/*===== PDF SALARY SIGNATURE =====*/


/*=================> Salary Slip PDF <=================*/


/*=================> Salary Generate View <=================*/

.salary_heading_row {
    float: left;
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid #E7ECF1;
    padding-bottom: 15px;
}

.sub_row {
    float: left;
    width: 100%;
}

.ss_left_heading {
    float: left;
    width: 18%;
    background-color: #32c5d2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.ss_right_heading {
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
    float: left;
    width: 32%;
}

.ss_heading_title {
    background-color: #32c5d2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}

.ss_heading_text {
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
}

.salary_left_col {
    float: left;
    width: 48%;
    height: auto;
    margin-bottom: 16px;
}

.salary_right_col {
    width: 48%;
    float: right;
    height: auto;
    margin-bottom: 16px;
}

.ss_left_text {
    float: left;
    width: 26.8%;
    height: auto;
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
}

.ss_right_text {
    float: right;
    width: 73%;
    height: auto;
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
}

.net_total_heading {
    background-color: #32c5d2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    float: left;
    width: 30%;
}

.net_total_text {
    float: right;
    width: 70%;
    height: auto;
    border: 1px solid #E7ECF1;
    font-size: 14px;
    padding: 9px 16px;
}


/*=================> Salary Generate View <=================*/

.proposal_product_select,
.proposal_unit_select {
    display: none;
}

.overlay_div {
    position: absolute;
    height: 60%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
    top: 38%;
    margin-left: -20px;
    display: none;
}

.page-content {
    position: relative;
}

.editable_name,
.view_info {
    color: #c95055;
    font-weight: 600;
    cursor: pointer;
}

.editable_name:hover {
    color: #b6161c;
    opacity: inherit;
}

.select2-dropdown--below {
    z-index: 110000 !important;
    border-radius: 0 0 5px 5px !important;
    margin-top: -4px !important;
}

.select2-dropdown--above {
    z-index: 110000 !important;
    border-radius: 5px 5px 0 0 !important;
    margin-top: 3px !important;
}

.modal {
    background: rgba(0, 0, 0, 0.5) !important;
    z-index: 10001 !important;
}

.modal-backdrop.in {
    z-index: 0;
}

#show_payroll_staff .table th span {
    display: block;
    font-size: 10px;
    text-transform: capitalize;
    color: #37c6d3;
}

.div_new {
    padding: 20px !important;
    border-color: #37c6d3;
    border-style: solid;
    border-width: 2px 2px 2px 8px;
    overflow: hidden;
    background: #ffffff;
}

.overlay_div {
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
    top: 0;
    margin-left: -20px;
    display: none;
}

.theme_btn:active,
.theme_btn_capsule:active,
.theme_btn:focus,
.theme_btn_capsule:focus,
.theme_btn_round:active,
.theme_btn_round:focus {
    color: #fff;
}

.theme_btn_round {
    display: inline-block;
    background: #000000;
    color: #fff;
    padding: 4px 20px;
    margin: 0;
    text-align: center;
    border-radius: 5px !important;
}

.theme_btn_round:hover {
    color: #fff;
    background: #b6161c;
}


/***.portlet > .portlet-title > .actions {
    margin-right: 18px !important;
}***/


/* .dropdown-menu {
    min-width: 140px !important;
    z-index: 10061 !important;
} */

.date-picker {
    z-index: 0 !important;
}

.page-content {
    position: relative;
}

#busyloading {
    z-index: 99999 !important;
}

.authorise h3 {
    text-align: center;
    font-weight: bold;
}

.authorise h3 i {
    color: #DFBA49;
}

.amount_align {
    text-align: right !important;
}

input.btn {
    border: none !important;
}


/*SUCCESS MSG ALL OVER DESIGN*/

.success_box {
    background: #4f9748;
    width: 10%;
    padding-left: 145px;
    padding-top: 10px;
    opacity: 0;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    left: 50%;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
}

.success_box:before {
    content: '\f00c';
    font-family: FontAwesome;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding-right: 12px;
}


/*WARNING MSG ALL OVER DESIGN*/

.warning_box_general {
    background: #ff7800;
    width: 10%;
    padding-left: 145px;
    padding-top: 10px;
    opacity: 0;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    left: 50%;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
}

.warning_box_general:before {
    content: '\f071';
    font-family: FontAwesome;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding-right: 12px;
}

.alert_box_general,
.show_no_emails {
    background: #E7505A;
    width: 10%;
    padding-left: 145px;
    padding-top: 10px;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    z-index: 9999999;
    font-family: 'Source Sans Pro', sans-serif;
    display: none;
}

.alert_box_general:before,
.show_no_emails:before {
    content: '\f00d';
    font-family: FontAwesome;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding-right: 12px;
}

.show_more_activity {
    background-color: #ECECEC;
    color: #ABABAB;
    display: block;
    text-align: center;
    width: 100%;
    padding: 4px 0;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}

.show_more_activity:hover {
    background-color: #F1F1F1;
}

.activity_data_loader {
    left: 50%;
    margin-left: -64px;
    display: none;
    position: absolute;
    bottom: 4px;
}


/****************************************CSS FOR SIDE******************************************/

.sidebar_icons {
    width: 30px;
    margin-top: -2px;
    margin-left: -5px;
}

.nav-item {
    /*width: 50px !important;*/
}

.page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu,
.page-sidebar-menu.page-sidebar-menu-closed>li:hover {
    box-shadow: none !important;
}

.page-sidebar-closed .page-sidebar,
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    width: 64px !important;
    padding-top: 14px;
}

.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 65px !important;
}


/*** //NEW STYLE EDIT ***/

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover {
    width: 280px !important;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu {
    width: 205px !important;
    left: 67px !important;
}


/*** //NEW STYLE EDIT ***/

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>a>.title {
    padding-left: 45px !important;
}

.page-sidebar .page-sidebar-menu>li.active>a {
    border-radius: 8px;
    background: #b6161c !important;
}

.page-sidebar .page-sidebar-menu>li.active>a:hover {
    border-radius: 8px 0 0 8px;
    background: #b6161c !important;
}

.page-sidebar-menu .sub-menu>li:hover>a {
    border-radius: 0 0 4px 4px !important;
}


/*#main-menu > li > .submenu > li:hover*/

.page-sidebar-menu li:hover>a {
    /*display: none;*/
    border-radius: 8px 0 0 8px !important;
}

.page-sidebar .page-sidebar-menu>li.open>a,
.page-sidebar .page-sidebar-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #000000;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu:hover .sub-menu,
.page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu:hover .sub-menu {
    background: #1b1b1b;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    background: #1b1b1b !important;
}

.active .selected {
    display: none !important;
}

.nav-item {
    padding: 0 8px !important;
    margin: 5px 0 !important;
}

.sub-menu .nav-item {
    margin: 0 !important;
}

.nav-item a {
    padding: 13px 13px !important;
    /*margin: 10px 0 !important;*/
}

.sub-menu .nav-item {
    padding: 0 !important;
}

.sub-menu .nav-item a {
    padding: 13px 0 !important;
    padding-left: 8px !important;
    margin: 0 0 !important;
}

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu>li>a {
    padding-left: 8px !important;
}

.navbar-collapse {
    z-index: 1;
}

.page-logo img {
    display: block !important;
}

.menu-toggler {
    display: none !important;
}

.nav-item a {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.navbar-collapse {
    position: fixed;
}


/****************************************CSS FOR SIDE******************************************/


/****************************************CSS FOR TOP MENU******************************************/

.nav_bar_menu.box {
    width: 400px !important;
    padding: 0 !important;
}

.nav_bar_menu {
    width: 400px;
    position: fixed;
    top: 5.5%;
    right: 14%;
    background: #fff;
    z-index: 9999;
    border-radius: 5px !important;
    display: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav_bar_menu .title {
    background: #f0f0f0;
    font-size: 14px;
    color: #31363f;
    font-weight: 600;
    display: block;
    padding: 5px 12px;
}

.menu_row {
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
}

.menu_row .each_menu {
    width: 25%;
    float: left;
}

.each_menu .each_menu_img {
    width: 30px;
    height: auto;
}

.each_menu span {
    display: block;
    color: #31363f;
    padding-top: 6px;
}

.nav_bar_menu .inner_wrap:first-child .title {
    border-radius: 5px 5px 0 0;
}

.menu_bar_toggle {
    color: #fff;
    background: #ed1c24;
    border-radius: 6px;
    margin-top: 8px;
    display: inline-block;
    width: 45px;
    text-align: center;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.menu_bar_toggle i {
    padding-top: 8px;
}

.menu_bar_toggle:hover {
    opacity: 0.7;
}


/****************************************CSS FOR TOP MENU******************************************/


/****************************************CSS FOR NEW HEADER******************************************/

.page-header.navbar {
    height: 60px !important;
}

.page-header-fixed .page-container {
    margin-top: 60px;
}

.page-header.navbar .page-logo .logo-default {
    margin: 11px 16px 0 !important;
}

.page-header {
    background: #000000 !important;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo {
    width: 66px !important;
    height: 60px !important;
    background: #000000;
}

.page-sidebar,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #000000;
}

.page-sidebar .page-sidebar-menu>li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #000000;
}

.page-header.navbar .top-menu {
    padding: 7px 0 !important;
}


/****************************************CSS FOR NEW HEADER******************************************/

.wrapper_income {
    height: inherit !important;
    max-height: 690px !important;
}


/*.c100 > span {*/


/*z-index: 0 !important;*/


/*}*/


/****************************************** BUSY LOADING CSS *******************************************/

#busyloading {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("../images/busyloading.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.spin_icon {
    background: #eee;
    padding: 3px 6px;
    border-radius: 3px;
    position: absolute;
    overflow: hidden;
    display: none;
    font-size: 15px;
    right: 1px;
    top: 1px;
    color: #cb3b3b;
}


/****************************************** BUSY LOADING CSS *******************************************/


/************************************** 02-05-2019 // NEW STYLE ****************************************/

.table.filterable.table-bordered {
    border: none;
}

.table-bordered .thead {
    /***border: 1px solid #636871;***/
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.table-bordered .thead th {
    border-radius: none;
    background-color: none;
}

.table-bordered .tbody {
    border: 1px inset #ddd;
    border-top: none;
}

.portlet>.portlet-title>.actions {
    position: absolute;
    right: 14px;
}


/*.portlet-title .success_actions::before, .portlet-title .success_actions::after {
    position: absolute;
    content: '';
    width: 34px;
    height: 32px;
    background: #37c6d3 url('../img/action_plus.png') no-repeat center;
    font-size: 28px;
    top: 6px;
    left: -34px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px 0 0 5px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #4fdeeb;
    color: #ffffff;
}
.portlet-title .success_actions::before:hover, .portlet-title .success_actions::after:hover {background-color: #68A7B2;}*/

.content_detail_info .lead_status_wrap .inner_wrapper .each_stage {
    width: 24.3%;
}


/*.content_detail_info .inner_wrapper #scroll-pane {left: 0 !important;}*/


/*** //LODING-EFFECT// ***/


/***.loding-wrap .loader {font-weight: bold;width: 100%;margin: 0 auto;height: 6px;top: 60px;left: 0;position: absolute;}
.loader .load { width: 100%; height: 6px; background-color: #44b6ae; position: relative; overflow: hidden; }
.loader .bar { width: 100%; height: 6px; background-color: #00aafb; position: absolute;}***/


/*** //LODING-EFFECT// ***/

.portal_add_btn {
    float: left;
    border-radius: 5px 0px 0px 5px !important;
    width: 35px;
    height: 32px;
    color: #fff;
    font-size: 16px;
    line-height: 31px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    border-color: #000000 #ffffff #000000 #000000;
    border-width: 1px;
    border-style: solid;
    border-right: 1px solid #ffffff;
    background: #000000;
    outline-width: 0;
    margin-right: 0px;
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    right: 0;
    z-index: 1;
    text-align: center;
}

.portal_add_btn a {
    color: #fff;
}

.filter_result a span {
    color: #37c6d3;
    font-size: 30px;
    font-weight: 600;
}

.look_up_btn {
    float: right;
    border-radius: 0px;
    width: 35px;
    height: 30px;
    color: #fff;
    background: #37c6d3;
    position: relative;
    right: 0;
    z-index: 1;
    text-align: center;
    bottom: 30px;
    line-height: 2;
}


/*** //START CHAT_BOT// ***/

.chat-wrapBox {
    width: 363px;
    position: fixed;
    height: 534px;
    bottom: 45px;
    z-index: 9999;
    right: 68px;
}

.msg-wrap {
    display: block;
    bottom: 23px;
    float: left;
    height: 40px;
    position: fixed;
    right: 20px;
    width: 40px;
    z-index: 9;
}

a.msgBox {
    display: block;
    width: auto;
    height: 40px;
    background: url('../img/chat_icon.png') no-repeat 0 0 / 40px;
}


/*** //END CHAT_BOT// ***/


/*** //17-10-2019// ***/

.page-header .page-header-inner {
    width: 100%;
    height: 60px;
}

.view_more {
    color: #37c6d3;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.history {
    padding-bottom: 40px;
}


/*FOR CHECKBOX*/


/* .squaredThree */

.squaredThree {
    width: 100%;
    position: relative;
    /*margin-left: 20px;*/
}

.section_squaredThree {
    float: left;
    display: inline-block;
    padding: 10px 0px;
}

.squaredThree label {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    border: 1px solid #76868f;
    border-radius: 4px !important;
}

.squaredThree label:after {
    content: '';
    width: 10px;
    height: 7px;
    position: absolute;
    top: 2px;
    left: 2px;
    /* border: 3px solid #37c6d3; */
    border: 3px solid #b6161c;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredThree label:hover::after {
    opacity: 0.3;
}

.squaredThree input[type=checkbox] {
    visibility: hidden;
}

.squaredThree input[type=checkbox]:checked+label:after,
.fs-checkbox-checked input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.squaredThree input[type=checkbox]:disabled+label:after {
    cursor: no-drop;
}
/* 
.address {
    display: block;
    color: #8d9292;
} */

.dataTables_wrapper tbody td {
    padding: 14px !important;
}

.dropdown_row {
    right: 20px !important;
}

body .actions_dropdown_grey {
    margin: 0 !important;
    position: absolute;
    right: 14%;
    top: -2px;
    height: 30px;
    line-height: 28px;
}

.contact_action_grey {
    display: none;
}

.spin_icon {
    top: 27px;
}

.logout .fa-sign-out::before {
    content: '';
    background: url('../images/logout.png') no-repeat scroll 0 0;
    width: 20px;
    height: 18px;
    display: inline-block;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown:last-child {
    padding-top: 0;
    margin-top: 0;
}

.page-header-inner .navbar-nav>li>a {
    padding: 4px 15px;
    border-radius: 6px;
    margin-top: 8px;
}

.page-header.navbar .menu-toggler {
    background-image: none;
}


/*** //INLINE STYLE ADD// ***/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.iti__hide {
    display: none;
}

pre {
    margin: 0 !important;
    display: inline-block;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    background: none;
}

.iti input,
.iti button {
    height: 35px;
    margin: 0;
    padding: 6px 12px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
}

input[disabled],
button[disabled] {
    background-color: #eee;
}

::-webkit-input-placeholder {
    color: #BBB;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #BBB;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #BBB;
}

#result {
    margin-bottom: 100px;
}

.page-header-fixed .page-container {
    margin-top: 0;
}

.page-header-fixed .page-content-wrapper {
    margin-top: 60px;
}


/* body .page-container {height: 100%;} */

body .page-container {
    background-color: #ffffff;
    min-height: 100%;
    height: auto !important;
    margin: 60px auto -33px;
}

body .page-container {
    min-height: 100%;
}

body .page-footer {
    background-color: #000000;
    height: 33px;
    position: relative;
}

.page-footer .page-footer-inner {
    color: #999fa7;
}

.page-sidebar-wrapper .page-sidebar {
    margin-top: 60px;
}


/*** //INLINE STYLE ADD// ***/
.pagination>li>a, .pagination>li>span {
    color: #000;
} 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    color: #fff;
}