/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 420px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy a {
  display: block;
    color: #061726;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}
.pushy a:focus, .pushy a:hover {
  color: #ed1c24;
  text-decoration: none;
}
.pushy .pushy-submenu-open #first-link {padding: 20px 50px 10px;font-weight: 600;font-size: 18px;}
.pushy .pushy-submenu-open a {
  padding: 12px 0;
  font-weight: normal;
  width: 100%;
  font-size: 17px;
}
.pushy .pushy-submenu ul {
  padding-left: 37px;
}
.pushy .pushy-submenu-open li:last-child a {
  padding-bottom: 20px;
}
.menu-btn{
  position:absolute;
  left:20px;
  top:20px;
  font-size:0px;
  line-height:0;
  background:#ffffff url(../images/nav-menu.png) no-repeat center;
  width:62px;
  height:56px;
  border:0px;
  cursor:pointer;
  outline:none;
  -webkit-box-shadow: -3px 0px 10px -2px #393838;
  -moz-box-shadow:    -3px 0px 10px -2px #393838;
  box-shadow:         -3px 0px 10px -2px #393838;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  z-index: 9;
  text-indent: -9999px;
}
button.menu-btn:hover, 
button.menu-btn:focus {opacity: inherit;}
.pushy-open-left .menu-btn{ background:url(../images/nav-menu.png) no-repeat;}
/* .pushy-submenu, .pushy-link{border-bottom:1px solid #fafafa;} */
.pushy-submenu ul{ padding-left:0px;}
.pushy-submenu .pushy-link{ 
  /* border-bottom:1px solid #eab32f; */
  padding-left:15px;
}
.pushy-submenu .pushy-link:last-child{ border-bottom:0px;}

.pushy a:hover {color: #ed1c24;}
.pushy-link.active a {color: #ed1c24;}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-420px, 0, 0);
  -ms-transform: translate3d(-420px, 0, 0);
  transform: translate3d(-420px, 0, 0);
}

/* .pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(420px, 0, 0);
  -ms-transform: translate3d(420px, 0, 0);
  transform: translate3d(420px, 0, 0);
} */

.pushy-right {
  -webkit-transform: translate3d(420px, 0, 0);
  -ms-transform: translate3d(420px, 0, 0);
  transform: translate3d(420px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-420px, 0, 0);
  -ms-transform: translate3d(-420px, 0, 0);
  transform: translate3d(-420px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
  width: 100%;
  color: #b3b3b1;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
}
.pushy-submenu button:hover {
  color: #FFF;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}
.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("https://chrisyee.ca/pushy/img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  background-color: #edeef2;
}
.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

/*# sourceMappingURL=pushy.css.map */
@media (max-width: 479px) {
.pushy { width:200px;}
/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}
}


.pushy .cld_pro_img {
  background-color: #061726;
    padding: 60px 50px 50px;
}
.pushy .cld_pro_img .display_pic {
  width: 75px;
}
.pushy .pro_name_view {
  padding: 18px 0 0 15px;
  float: left;
}
.pushy .pro_name_view .pro_name {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.pushy .pro_dtsmail {
  font-size: 12px;
    color: #fff;
    top: -4px;
    position: relative;
    font-weight: normal;
    font-style: italic;
}
.menu-copyright {
  text-align: center;
  font-size: 14px;
  color: #061726;
}
.menu-copyright strong {
  font-size: 15px;
}
.pushy .pushy-footer {
  position: fixed;
  width: 100%;
  bottom: 10px;
}