@charset "utf-8";
/* CSS Document */
h1, h2, h3, h4, h5, h6, ul, li, aside, body, p {margin: 0;padding: 0;}
ul, li {list-style: none;}
a, a:hover {text-decoration: none;}
a, a:hover button, button:hover {outline: none !important;}
.flt_left {float: left;}
.flt_right {float: right;}
.clearfix:before, .clearfix:after {display: table;content: " ";clear: both;}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;font-style: normal;
}
.wrapper {width:100%;height:100%;}
.container {margin:0 auto;width: 100%;overflow: hidden;}
@media (min-width: 1200px) {
    .container {
        max-width: 99%;
        margin-left: 1%;
        margin-right: 1%;
        margin:0 auto;
    }
    .select_container {
        max-width: 85%;
        margin-left: 1%;
        margin-right: 1%;
        margin: 0 auto;
    }
}


