/*SETTINGS MODULE ALL CSS*/
.calender_popup {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
}

.portlet > .portlet-title {
    min-height: 0 !important;
    margin-bottom: 0 !important;
}

hr {
    margin: 14px 0 !important;
}

.setting_landing {
    color: #3d424e;
}

.setting_landing .caption {
    padding: 0 !important;
}

.setting_landing h2 {
    font-weight: 500;
    margin: 0;
}

.setting_landing h2 span {
    color: #696666;
    font-size: 14px;
    font-weight: 400;
}

.setting_wrapper .main_title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.setting_wrapper .main_title:after {
    content: ' ';
    border-bottom: 2px solid #b6161c;
    width: 58px;
    position: absolute;
    left: 16px;
    top: 34px;
    border-width: 4px;
}

.settings .main_title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
    display: inline-block;
}

.settings .main_title:after {
    content: ' ';
    border-bottom: 2px solid #b6161c;
    width: 58px;
    position: absolute;
    left: 16px;
    top: 34px;
    border-width: 4px;
}

.subtitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    display: inline-block;
    text-transform: capitalize;
    color: #b6161c;

}

.subtitle:hover {
    opacity: 0.8;
}

.overview {
    color: #696666;
    font-size: 16px;
    display: block;
}

.each_row {
    margin-bottom: 30px;
}

.sub_heading {
    display: block;
    margin-bottom: 14px;
    font-size: 14px;
    color: #757a82;
    font-weight: 400;
}

a.cancel {
    font-size: 14px;
    font-weight: 300;
    background: #EAECEE;
    color: #333 !important;
    border-radius: 5px !important;
    padding: 4px 14px !important;
}

.input_row {
    overflow: hidden;
    margin-bottom: 15px;
}

.input_row label {
    text-align: right;
}

.input_row label.label_left {
    text-align: left;
}

.float_btn {
    margin-left: 15px !important;
}

.tab_area .tab-content {
    padding-top: 10px !important;
}

.tab_area ul a {
    font-size: 15px !important;
}

.top_editor_bar {
    height: 46px;
    width: 100%;
    background: #ececec;
    border: 2px solid #babcbf;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom: none;
    padding: 5px;
    position: relative;
}

.email_editor {
    height: 372px !important;
    border: 2px solid #babcbf;
    border-top: none;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    padding: 15px;
    color: #3e434f !important;
    overflow-y: auto;
    position: relative;
}

.email_editor:focus {
    outline: 0 !important;
}

.email_editor p {
    font-size: 14px !important;
    margin: 15px 0 !important;
}

.email_editor span {
    display: block;
}

.email_editor a {
    color: #449fc2;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px !important;
}

.email_tags {
    width: 30%;
    float: right;
    border: 2px solid #c4c6ca;
    border-radius: 5px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.selectdiv:after {
    content: '\f0dd';
    color: #3d424e;
    background: #ebeced;
    right: 7px;
    top: 7px;
    padding: 12px 8px;
    position: absolute;
    pointer-events: none;
    font-family: FontAwesome;
    border-left: 2px solid #c4c6ca;
    display: inline;
    line-height: 0;
    height: 30px;
}

.text_link {
    float: right;
    padding: 0 6px;
    border: 2px solid #c4c6ca;
    font-size: 18px;
    margin-right: 5px;
    color: #a5ccdb;
    border-radius: 5px !important;
}

.text_link:hover {
    opacity: 0.7;
}

.created_link {
    position: relative;
}

.created_link:after {
    content: '\f00d';
    font-family: FontAwesome;
    position: absolute;
    top: -12px;
    right: 0px;
    font-size: 11px;
    color: grey;
    opacity: 0;
}

.created_link:hover:after {
    opacity: 1;
}

.form-control:focus {
    border-color: #c4c6ca !important;
}

.link_url {
    width: 30%;
    float: right;
    margin-right: 5px;
    display: none;
}

.float_btn {
    float: right;
    margin-left: 20px;
}

.tabbable-line {
    padding-top: 0 !important;
}

/*TABLES*/

.row_header {
    float: left;
    padding: 8px 5px;
    border-right: 1px solid #8a8e94;
    color: #FFFFFF;
    font-weight: 600;
}

.inner_row {
    float: left;
    padding: 6px 5px;
    position: relative;
}

.row_inner_wrap {
    color: #4E4F4F;
    line-height: 22px;
    /*font-weight: 600;*/
}

.row_header:last-child {
    border-right: none;
}

.header_tbl {
    background: #636871;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.row_wrap > .row_inner_wrap:nth-of-type(2n+1) {
    background-color: #F5F6F8 !important;
}

.box {
    border: 1px solid #c4c6ca;
    width: 100%;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    /*overflow: hidden;*/
    padding: 0;
}

.del_icon {
    padding: 4px 6px;
    cursor: pointer;
    display: inline-block;
}

.del {
    visibility: hidden;
}

.del_icon:hover {
    opacity: 0.7;
}

.add_icon, .edit_icon, .del_icon {
    background: #ECEDF1;
    position: absolute;
    top: 8px;
    right: 24px;
    /*padding: 0 6px;*/
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #CED0D4;
    line-height: 0;
    margin-top: 1px;
}

.add_row {
    padding: 4px 6px;
}

.add_icon:hover, .add_dept:hover, .edit_icon:hover, .edit_dept:hover {
    opacity: 0.7;
}

.edit_icon {
    display: none;
    padding: 4px 5px;
}

.add_btn_general {
    background: #ECEDF1;
    padding: 0 6px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #CED0D4;
    display: inline-block;
}

.dept_tags_wrap {
    padding: 5px 0;
}

.dept_tags {
    background: #63C647;
    padding: 1px 42px 1px 12px;
    color: #fff;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.remove_dept {
    /*content: '×';*/
    display: block;
    font-size: 22px;
    position: absolute;
    top: -4px;
    right: 3px;
    font-weight: 600;
    cursor: pointer;
}

.remove_dept:hover {
    color: red;
}

.edit_dept, .edit_field {
    position: absolute;
    top: 14px;
    right: 14px;
    color: #63C647;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
}

.team_img img {
    padding: 0 20px;
}

/*.deal_stage_wrap .row_wrap .row_inner_wrap {*/
/*cursor: move;*/
/*}*/
.sort_arrow {
    /*display: inline-block;*/
}

.sort_arrow:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sort_arrow_down {
    /*display: inline-block;*/
    margin-left: 8px;
}

.sort_arrow_down:hover {
    opacity: 0.7;
    cursor: pointer;
}

.img_wrap_template {
    width: 200px;
    /*height: 250px;*/
    border: 2px solid #eee;
}

.template_active {
    border: 2px solid #b6161c;
}

.img_wrap_template img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.business_logo_wrap {
    border: 3px dotted #E7E8EA;
    border-radius: 3px;
    width: 100%;
    height: 200px;
    text-align: center;

}

.other_imgs .business_logo_wrap {
    height: 250px;
}

.other_imgs .business_logo_wrap img {
    padding-top: 20px;
}

.theme_color_wrap {
    padding-left: 35px;
    text-align: center;
}

.theme_color_wrap .color_box {
    display: inline-block;
    float: left;
    width: 70px;
    height: 60px;
    margin-right: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.theme_color_wrap .color_box:hover {
    opacity: 0.7;
}

.active_box {
    border: 1px solid #000;
}

.color_box i{
    display: none !important;
}

.active_box i {
    font-size: 30px;
    padding-top: 20px;
    display: block !important;
}

/*TOP PROFILE DROP DOWN*/
.drop_menu, .user_drop_menu {
    width: 100px;
    background: #fff;
    position: absolute;
    border-radius: 3px;
    top: 58px;
    display: none;
    z-index: 2;
}

.user_drop_menu {
    position: fixed;
    right: 4%;
    width: 200px;
}
.each_option_drop.heading_sign {
    text-align: center;
    background: #44b6ae;
    color: #fff;
    pointer-events: none;
}

.each_option_drop {
    cursor: pointer;
    padding: 4px 15px;
    display: block;

}

.each_option_drop:hover {
    background: #eee;
}
.add_des_edit {
    position: absolute;
    right: 0;
    top: 0px;
}
.update_icon {
    padding: 4px 6px;
    cursor: pointer;
    display: inline-block;
}
.add_des_edit .update_icon, .add_des_edit .del_icon {
    float: left;
    position: relative;
}