@charset "utf-8";
/* CSS Document */
h1, h2, h3, h4, h5, h6, ul, li, aside, body, p {margin: 0;padding: 0;font-family: 'Roboto' !important;}
ul, li {list-style: none;margin: 0;}
a, a:hover {text-decoration: none;}
a, a:hover button, button:hover, input:focus {outline: none !important;outline: inherit;}
.flt_left {float: left;}
.flt_right {float: right;}
.clearfix:before, .clearfix:after {display: table;content: " ";clear: both;}
*{box-sizing:border-box;}
.pull-left {float: left;}
.pull-right {float: right;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;font-style: normal;
}
html, body {height: 100%;}
body {
    font-family: 'Roboto' !important;
    font-style: normal;
    font-style: normal;
    font-size:13px;
    color:#0e1d2b;
}
.wrapper {width:100%;height:100%;}
.container {margin:0 auto;width: 1200px;overflow: hidden;}
.main-wrap, .wrapper {height: 100%;}

.top_head {float: left;}
.logo_wrap {
    width: 100%;
    position: absolute;
    display: block;
    height: auto;
    top: 0;
    right: 0;
}
.logo {
    width: 575px;
    height: 65px;
    display: block;
    position: relative;
    top: 40px;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}
.logo_wrap_center {
    width: 100%;
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    right: 0;
}
.logo_wrap_center .logo {
    width: 642px;
    height: 300px;
    display: block;
    position: relative;
    margin: -150px auto 0;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
}

.right_bar {float: right;}
.left_bar {float: left;}
.right_nav, 
.right_back,
.right_filter,
.right_search {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ffffff;
    width: 62px;
    -webkit-box-shadow: -3px 0px 10px -2px #393838;
    -moz-box-shadow:    -3px 0px 10px -2px #393838;
    box-shadow:         -3px 0px 10px -2px #393838;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9;
}
.nav_top_bar .right_filter {right: 98px;}
.nav_top_bar .right_search {right: 176px;}
.left_nav {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #ffffff;
    width: 62px;
    -webkit-box-shadow: -3px 0px 10px -2px #393838;
    -moz-box-shadow:    -3px 0px 10px -2px #393838;
    box-shadow:         -3px 0px 10px -2px #393838;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9;
}
.backBtn, 
.nav_top_bar .nav_topBtn {
    position: absolute;
    left: auto;
    top: auto;
    font-size: 0px;
    line-height: 0;
    background: #ffffff url('../images/back_icon.png') no-repeat center;
    width: 62px;
    height: 56px;
    border: 0px;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: -3px 0px 10px -2px #393838;
    -moz-box-shadow: -3px 0px 10px -2px #393838;
    box-shadow: -3px 0px 10px -2px #393838;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9;
    text-indent: -9999px;
}
ul.right_menu {padding: 8px 0;}

li.rgh_icon > a {display: inline-block;padding: 8px 16px;height: 48px;}
li.rgh_icon i {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url('../images/side-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -5px -6px;
}
li.log_icon > a {display: inline-block;padding: 14px 13px;height: 62px;}
li.log_icon i {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    background-image: url('../images/sprite_log.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -5px -6px;
}
li.rgh_icon i.i_search {background-position: -5px -6px;}
li.rgh_icon:hover i.i_search, 
li.rgh_icon.selected i.i_search {background-position: -129px -6px;}

li.rgh_icon i.i_list {background-position: -5px -59px;}
li.rgh_icon:hover i.i_list,
li.rgh_icon.selected i.i_list {background-position: -130px -59px;}

li.rgh_icon i.i_filter {background-position: -5px -109px;}
li.rgh_icon:hover i.i_filter,
li.rgh_icon.selected i.i_filter {background-position: -130px -109px;}

li.rgh_icon i.i_gps {background-position: -5px -161px;}
li.rgh_icon:hover i.i_gps,
li.rgh_icon.selected i.i_gps {background-position: -130px -161px;}

li.rgh_icon i.i_fulls {background-position: -5px -212px;}
li.rgh_icon:hover i.i_fulls,
li.rgh_icon.selected i.i_fulls {background-position: -130px -212px;}

li.rgh_icon i.i_offer {background-position: -5px -273px;}
li.rgh_icon:hover i.i_offer,
li.rgh_icon.selected i.i_offer {background-position: -129px -273px;}

li.rgh_icon i.i_pricing {background-position: -5px -331px;}
li.rgh_icon:hover i.i_pricing,
li.rgh_icon.selected i.i_pricing {background-position: -129px -331px;}

li.rgh_icon i.i_featured {background-position: -5px -388px;}
li.rgh_icon:hover i.i_featured,
li.rgh_icon.selected i.i_featured {background-position: -130px -388px;}


li.log_icon i.i_login {background-position: -32px -32px;}
li.log_icon:hover i.i_login {background-position: -91px -32px;}
li.log_icon i.i_account {background-position: -33px -104px;}
li.log_icon:hover i.i_account {background-position: -92px -104px;}
li.log_icon i.i_lang {background-position: -33px -181px;}
li.log_icon:hover i.i_lang {background-position: -94px -181px;}


/*** //SEARCH START// ***/
.search_wrap {}
.searchBox {}
span.search_log, span.search_fav {
    width: 55px;
    display: inline-block;
    height: 100%;
    position: relative;
    padding: 9px 8px;
    cursor: pointer;
}
span.search_log {padding-left: 15px;}
span.search_fav {padding-right: 15px;float:right;}
input.search_txt {
    width: 360px;
    border: 0;
    padding: 0 7px;
    line-height: 43px;
}
/*** //SEARCH END// ***/


/*** //FOOTER START// ***/
#footer {}
.footer-wrap {
    bottom: 0;
    left: 0;
    right: 0;
    /* position: absolute; */
    background-color: #f4f4f4;
    height: 78px;
    width: 100%;
}
ul.ft-nav {width: 100%;display: inline-block;    padding: 0 5%;}
li.ft-menu {
    float: left;
    width: 25%;
}
li.ft-menu a {
    display: block;
    padding: 17px 15px 16px;
    width: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
}
li.ft-menu i {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-image: url('../images/ft-sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: -5px -6px;
}
li i.nav_location {background-position: -5px -56px;}
li a:hover i.nav_location,
li a.active i.nav_location {background-position: -55px -56px;}
li i.nav_time {background-position: -6px -156px;}
li a:hover i.nav_time,
li a.active i.nav_time {background-position: -56px -156px;}
li i.nav_video {background-position: -5px -6px;}
li a:hover i.nav_video,
li a.active i.nav_video {background-position: -55px -6px;}
li i.nav_cart {background-position: -5px -105px;}
li a:hover i.nav_cart,
li a.active i.nav_cart {background-position: -55px -105px;}
/*** //FOOTER END// ***/
/*** //MENU ICON START// ***/
#map, .map_viewBg {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
/* main menu styles */
.right_menu {
    display:inline;
    text-align:left;
    position:relative;
    list-style-type:none;
}
.right_menu > li {
    float:left;
    position:relative;
}
.right_menu > li > a {
    color:#4F4F4F;
    display:block;
    font-size: 15px;
    position:relative;
    text-decoration:none;
}
.right_menu > li.selected  > a {
    z-index:2;
}
.right_menu li .sub_menu {
    position:relative;
}
.right_menu li .sub_menu {
    background-color: #FFFFFF;
    padding: 0;
    display: none;
    font-size: 15px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 75px;
    z-index: 1;
    width: 475px;
    -webkit-box-shadow: -4px -3px 12px -2px #393838;
    -moz-box-shadow:    -4px -3px 12px -2px #393838;
    box-shadow:         -4px -3px 12px -2px #393838;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.right_menu li.selected .sub_menu {
    display: block !important;
}
.right_menu li .sub_menu li {
    min-height: 48px;
}
/*** //MENU ICON END// ***/





.filterBox, .select-wrap, .select-wrap .mui-select {display: block !important;}
.filter_wrap .select-wrap {position: relative;float: left;width: 100%;}

.filterBox h3 {
    text-align: left;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 15px;
}
.filter_wrap {
    padding: 20px 28px;
}

.filterBox .select-wrap:last-child select {margin-bottom: 0;}
.mui-select {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    border-radius: 3px;
}
.mui-select__menu {padding: 0px 0;}
.mui-select>select {
    border-bottom: none;
    border: 1px solid #0e1d2b;
    border-radius: 3px;
    height: 45px;
    padding: 8px 30px 8px 12px;
    margin-bottom: 15px;
}
.mui-select>select {background: url('../images/down_arrow.png') no-repeat scroll right center / 40px;}
/* .mui-select>select::before {
    background: url('../images/down_arrow.png') no-repeat scroll 0 0;
    content: '';
    width: 13px;
    height: 13px;
    display: inline-block;
} */
.mui-select__menu>div.mui--is-selected {background-color: #ffffff;}
.mui-select__menu {
    border: 1px solid #0e1d2b;
    border-radius: 3px;
    top: 0px !important;
}
.mui-select:focus>select {
    height: 45px;
    border: 1px solid #0e1d2b;
    border-radius: 3px;
    margin-bottom: 15px;
}
.mui-select__menu>div {
    padding: 0 12px;
    height: 45px;
    line-height: 43px;
}
/* .mui-select__menu {
    position: relative;
} */
/*** //BUTTON STYLE START// ***/
.cld_button .button {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #000000;
    float: left;
    border-radius: 4px;
    width: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
}
.cld_button .button.active,
.cld_button .button:hover {
    background-color: #000000;
    color: #ffffff;
}
.cld_button .btn_disabled {
    background-color: #e0e0e0;
    color: #b0b0b0;
    cursor: not-allowed;
}
.cld_button .btn_apply {border-radius: 4px 0 0 4px;width: 50%;}
.cld_button .btn_reset {border-radius: 0 4px 4px 0;width: 50%;}
/*** //BUTTON STYLE END// ***/
/*** //TERMS AND CONDITION// ***/
.cld_bt_termCond {
    margin: -16px 0 10px;
}
.cld_bt_termCond p.cld_termsConditions {
    text-align: center;
    font-size: 23px;
    color: #061726;
}
p.cld_termsConditions a {
    font-weight: 600;
    color: #061726;
}
/*** //MAP VIEW SCREEN START// ***/
#map_view_screen {
    /* width: 455px; */
    width: 24%;
    display: inline-block;
    /* -webkit-box-shadow: 0px 1px 13px 0px #393838;
    -moz-box-shadow: 0px 1px 13px 0px #393838;
    box-shadow: 0px 1px 13px 0px #393838; */
    margin:0 0 20px 1%;
    /* -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff; */
}
#map_view_screen:first-child,
#map_view_screen:nth-child(4n+1) {margin-left: 0;}
.map_screenBox {
    position: relative;
    background: #ffffff;
    overflow: hidden;
    display: inline-block;
    
}
.map_screenImg img {max-width: 100%;}
.scr_contentBox {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}
h3.scr_cont_h3 {
    font-size: 20px;
    padding: 12px 12px 0;
    font-weight: 600;
    margin-bottom: 8px;
    color: #212121;
    float: left;
}
.map_screenImg {
    display: block;
    position: relative;
}
.off_screen_wrap {
    position: absolute;
}
.off_screen_wrap .off_screenBg {
    position: relative;
    width: 98px;
    height: 30px;
    top: 15px;
}
.off_screen_wrap .off_screenBg::before {
    background: url(../images/off_bg.png) scroll no-repeat 0 0 / 100%;
    content: '';
    position: absolute;
    display: block;
    width: 96px;
    height: 30px;
}
.off_screenBg span {
    color: #fff;
    font-size: 15px;
    position: absolute;
    line-height: 29px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 12px;
}
.scr_soldOut_screen .map_screenImg::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.scr_soldOut_screen a.soldout_btn {
    background-color: #ed1c24;
    color: #ffffff;
    padding: 3px 8px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    top: 9px;
    float: right;
    line-height: 20px;
    border: 1px solid #ed1c24;
    position: relative;
    right: 10px;
}
.scr_contTop {
    border-bottom: 1px solid #cccccc;
    position: relative;
    float: left;
    width: 100%;
    padding: 0 12px 6px;
}
.scr_contentBox span {
    color: #8e8885;
    font-size: 17px;
    float: left;
}
.scr_contBtm {
    width: 100%;
    float: left;
    position: relative;
    padding: 6px 12px 0;
}
.scr_contBtm b {
    font-weight: 600;
    color: #212121;
}
.contTop_left, .contBtm_left {float: left;}
.contTop_right, .contBtm_right {float: right;}

i.icon {
    display: inline-block;
    position: relative;
    background: url('../images/sprite.png') scroll no-repeat;
}
.scr_cont_slots p, .contBtm_right P {
    float: left;
    line-height: 26px;
    margin: 0;
}
.scr_cont_slots .wran_ico {
    width: 24px;
    height: 24px;
    background-position: -2px -41px;
    margin-left: 5px;
}
.rightday_view .view_ico {
    width: 24px;
    height: 24px;
    background-position: -2px -71px;
    margin-right: 5px;
    float: left;
}
.map_select .select_tick {
    width: 30px;
    height: 30px;
    background-position: 1px 1px;
    margin: 0;
}
.map_select_box {
    position: absolute;
    right: 5px;
    top: 5px;
}
.map_select {display: none;}
.map_screenImg .map_select.active,
a.map_screenImg:hover .map_select {
    display: block;
}
/*** //MAP VIEW SCREEN END// ***/

/* .cloud_content .map_view_cldBox {
    position: absolute;
    top: 13%;
} */




.content-wrap {
    min-height: 100%;
    /* top: 110px; */
    /* position: relative; */
}
#footer {
    height: 78px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9;
}
.container, .wrapper, .main-wrap, html, body {
    min-height: 100%;
    height: 100%;
}
.cloud_content {
    top: 110px;
    position: relative;
    padding-bottom: 210px;
}




/*** //FAQ-START// ***/
.faq-wrapper {margin: 30px 0;padding: 0 20px;}
.faq-category-name{font-size: 24px;font-weight:bold;color:#e09401;margin-bottom:20px;}
.faq-hd, .cld_stHead {
    border-bottom: 1px solid #dcdcdc;
    min-height: 1px;
    padding: 15px 10px 15px 10px;
    position: relative;
    text-align: center;
}
.faq-hd {cursor: pointer;}
.faq-hd h3, .cld_stHead h3 {font-size: 28px;text-align: center;padding: 0;line-height: 21px;}
.cld_stHead h3 {font-weight: normal;}
.faq-ans {display: none;padding: 0;font-size: 15px;}
.faq-ans p {margin: 10px 0;}
.faq-hd .plus-minus {line-height: 1;font-size: 1.5em;position: absolute;top: 0;right: 0;text-decoration: none;color: #bbb;}
.faq-hd .plus-minus:hover {color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}
.faq-hd .plus-minus {float: right;}
.faq-hd .plus-minus {text-indent: -9999px;height: 28px;width: 28px;position: relative;box-sizing: border-box;line-height: 50px;display: inline-block;margin-top: -4px;}
.faq-hd .plus-minus::before {
    content: '';
    background: url('../images/sprite_arow.png') no-repeat scroll 1px -27px;
    display: block;
    width: 28px;
    height: 28px;
}
.faq-hd.minus .plus-minus::before {
    background-position: 1px 1px;
}
.cld_stDts-select .plus-minus {text-indent: -9999px;height: 25px;width: 25px;position: relative;box-sizing: border-box;line-height: 50px;display: inline-block;margin-top: 2px;left: 5px;}
.cld_stDts-select .plus-minus::before {
    content: '';
    background: url('../images/sprite_arrow_s.png') no-repeat scroll 1px -21px;
    display: block;
    width: 25px;
    height: 25px;
}
.cld_stDts-select .faq-hd.minus .plus-minus::before {
    background-position: 1px 5px;
}
.faq-select-box {
    display: block;
    overflow: hidden;
}
.cld_select_wrap {
    background-color: #fff;
    width: 100%;
    float: left;
    position: fixed;
    bottom: 78px;
    left: 0;
    right: 0;
    z-index: 1;
}
.cld_select_screen {
    width: 100%;
    overflow: hidden;
    display: block;
}
.cld_selectBtn_wrap {
    width: 530px;
    margin: 15px auto;
    left: 0;
    right: 0;
    overflow: hidden;
}
.cld_button.cld_ftBtn {
    width: 530px;
    margin: 15px auto;
    left: 0;
    right: 0;
    overflow: hidden;
}
.cld_button .button {}
th[scope="row"] {font-weight: normal;line-height: 28px;}
td.dlt_icon a {
    display: inline-block;
    overflow: hidden;
}
td.dlt_icon i.dlt_ico {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    background: url('../images/sprite.png') no-repeat scroll -43px -113px;
}
table.select_tbl th:last-child {width: 2%;}
table.select_tbl thead th {line-height: 37px;border-bottom: 1px solid #dcdcdc;border-top: none;color: #061726;text-transform: none;}
table.select_tbl tbody td {
    padding: 8px;
    line-height: 28px;
    color: #212121;
    text-transform: none;
}
table.select_tbl thead th, 
table.select_tbl tbody th,
table.select_tbl tbody td {border-top: inherit;}
table.select_tbl tbody td:last-child {line-height: 12px;}
th.txt_center, td.txt_center {text-align: center;}
table.select_tbl {margin-bottom: 0;}
/*** //FAQ-END// ***/
.cld_stBody {}
.cld_stDts_list {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    max-height: 100px;
    overflow-y: scroll;
}
.cld_stDts-camp {}

.left-cont {float: left;}
.right-cont {float: right;}
.cld_stDetails {
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 30px;
}
.cld_stDetails .left-cont {
    font-size: 15px;
    color: #6b6b6b;
}
.cld_stDetails .right-cont {
    font-size: 15px;
    color: #061726;
}
.cld_stDts-select .faq-hd {
    padding: 0 0 3px;
    overflow: hidden;
}
.cld_stDts-select .right-cont {font-weight: 600;text-transform: none;}
.cld_btn_upload .cld_upload {overflow: hidden;}





.map_view_cldBox .cld_sum_wrap {
    width: 615px;
    margin: 15px auto;
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 25px 25px;
    -webkit-box-shadow: -2px 0px 15px -3px #393838;
    -moz-box-shadow: -2px 0px 15px -3px #393838;
    box-shadow: -2px 0px 15px -3px #393838;
}
.cld_sum_wrap h3 {
    padding-bottom: 10px;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #c5c5c5;
    margin-bottom: 25px;
}
.cld_sum_wrap .cld_sum_contBox {

}
form.cld_formBox {}
.cld_stDts_head, 
.cld_stDts_body {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.cld_sumDetails .cld_stDts_head span {
    text-transform: uppercase;
    color: #16182a;
    font-weight: 600;
    font-size: 16px;
}
.cld_sumDetails {margin-bottom: 12px;}
.cld_sumDetails .faq-hd {border-bottom: none;}
.cld_sumDetails .cld_stDts_body .right-cont {
    color: #8c9499;
    font-weight: normal;
}
.cld_totalSum {border-top: 1px solid #c5c5c5;padding-top: 15px;}
.cld_totalSum .cld_stDts_head span {
    font-size: 20px;
}
.cld_totalSum .cld_stDts_head span.right-cont {font-weight: 600;}
/*** //INPUT STYLING// ***/
.cld_formBox .group { 
    position:relative; 
    margin-bottom:15px; 
}
.cld_formBox input {
    font-size:18px;
    padding:10px 12px 10px 12px;
    display:block;
    width:100%;
    border:none;
    border:1px solid #c5c5c5;
    border-radius: 4px;
    color: #16182a;
    height: 65px;
}
.cld_formBox input:focus {
    outline:none;
    border-color: #6d6d6d;
    box-shadow: 0 0 0 0.2rem rgba(220, 220, 220, 0.25);
}

/* LABEL ======================================= */
.cld_formBox label {
    color:#696969; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:15px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
    line-height: 45px;
}

/* active state */
.cld_formBox input:focus ~ label, 
.cld_formBox input:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #696969;
    background-color: #ffffff;
    padding: 0 8px;
    line-height: 22px;
}
.cld_formBox input:focus ~ label, 
.cld_formBox input:valid ~ label, 
.cld_formBox textarea:focus ~ label, 
.cld_formBox textarea:valid ~ label {
    top: -10px;
    font-size: 14px;
    color: #696969;
    background-color: #ffffff;
    padding: 0 8px;
    line-height: 22px;
}

/* BOTTOM BARS ================================= */
.cld_formBox .bar {position:relative; display:block; width:300px; }
/* .cld_formBox .bar:before, 
.cld_formBox .bar:after {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#c5c5c5; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.cld_formBox .bar:before {left:50%;}
.cld_formBox .bar:after {right:50%;}

/* active state */
/*.cld_formBox input:focus ~ .bar:before, 
.cld_formBox input:focus ~ .bar:after {
    width:100%;
} */

/* HIGHLIGHTER ================================== */
.cld_formBox .highlight {
    position:absolute;
    height:60%; 
    width:100%; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity: 0;
}

/* active state */
.cld_formBox input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
/*** //INPUT STYLING// ***/
.col-md-6 .lbl_cardExp, .col-md-6 .lbl_cardCvv {
    width: 75%;
}
.col-md-6 .lbl_cardExp {float: left;}
.col-md-6 .lbl_cardCvv {float: right;}
.cld_pay_contBox .group {margin-bottom: 25px;}
ul.cld_payCard {
    overflow: hidden;
    margin: 25px 0 25px;
}
ul.cld_payCard .payList {
    float: left;
    width: 22%;
    margin-left: 4%;
    height: 65px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}
ul.cld_payCard .payList img {
    margin: 6px auto;
    display: block;
}
.cld_payCard li.payList:first-child {
    margin-left: 0;
}
.cld_payDetails {text-transform: none;line-height: 45px;}
.cld_payDts_list .cld_payDetails span {color: #061726;font-size: 18px;}
.cld_payDts_list .cld_payDetails span.right-cont {font-weight: 600;}



/*** //PROFILE START// ***/
.lg_head_txt {
    width: 615px;
    margin: 15px auto;
    display: block;
    position: relative;
    padding: 25px 25px;
}
.lg_head_txt h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.map_view_cldBox .cld_pro_wrap {
    width: 470px;
    margin: 15px auto;
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 25px 0;
    -webkit-box-shadow: -2px 0px 15px -3px #393838;
    -moz-box-shadow: -2px 0px 15px -3px #393838;
    box-shadow: -2px 0px 15px -3px #393838;
}
.cld_pro_contBox .cld_button.cld_ftBtn {
    width: 100%;
}
.cld_pro_contBox .group {margin-bottom: 28px;}
.cld_pro_contBox .prof_cnfPassword {margin-bottom: 10px;}
.cld_formBox input.inp_password {
    padding-right: 40px;
}
.field-icon {
    float: right;
    margin-left: 0;
    margin-top: 0;
    position: relative;
    width: 25px;
    top: -46px;
    z-index: 2;
    right: 15px;
    background: url(../images/eye_sprite.png) no-repeat scroll -3px -27px;
    height: 25px;
}
.field-icon.pass-eye-slash {
    background-position: -3px 1px;
}
/*** //PROFILE IMAGES// ***/
.display_pic {
    width: 130px;
    margin: 0 auto;
    position: relative;
    float: left;
}
.display_pic .overlay {
    position: absolute;
    background: #e4e4e4;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    opacity: 0.7;
    text-align: center;
    padding: 58px 0;
    display: none;
}
.display_pic img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}
.display_pic:hover .overlay {
    display: block;
} 
.cld_pro_img {
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 0 25px 15px;
    border-bottom: 1px solid #dcdcdc;
}
.cld_pro_cont {margin-top: 26px;padding: 0 25px;}
.cld_pro_img.cld_pro_img_view a {
    overflow: hidden;
    display: inline-block;
    padding: 0;
    width: 100%;
}
a.btn-image-upload .fa-camera {
    background: url(../images/camera.png) no-repeat scroll 0 0;
    width: 38px;
    height: 30px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8px;
} 
.dispaly_edit {
    position: absolute;
    right: 14px;
    top: -12px;
    left: auto;
}
.dispaly_edit a.edit-icon {
    background: url(../images/edit_sprite.png) no-repeat scroll -98px -16px;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
}
.dispaly_edit.active a.edit-icon {background-position: -17px -16px;}
/* .dispaly_edit:hover a.edit-icon {background-position: -98px -16px;} */

.cld_pro_cont_view .group {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}
.cld_pro_cont_view label {
    height: auto;
    line-height: 24px;
    float: left;
    position: relative;
    font-size: 17px;
    top: -1px;
    left: 0;
}
.cld_pro_cont_view span {
    float: right;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    max-width: 65%;
}


.modal .modal-header {
    border-bottom: 1px solid #EFEFEF;
}
.modal {
    background: rgba(0, 0, 0, 0.5) !important;
    z-index: 10001 !important;
}
.modal-content {
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
}
.close {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    width: 9px;
    height: 9px;
    background-repeat: no-repeat!important;
    text-indent: -10000px;
    outline: 0;
    background-image: url('../images/remove-icon-small.png')!important;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal-header .close {
    padding: 11px;
    float: right;
    opacity: inherit;
    margin: 0;
    right: 12px;
    position: absolute;
}
h4.modal-title {
    width: 100%;
    font-size: 20px;
    text-align: left;
}
#upload1 .fa-upload {
    background: url(../images/upload.png) no-repeat scroll 0 0;
    display: block;
    width: 21px;
    height: 31px;
    position: relative;
}
button.pro_closeBtn {
    position: absolute;
    left: 15px;
    border: 1px solid #000000;
    padding: 5px 15px;
    border-radius: 4px;
}
.cld_button .btn-success.active {
    background-color: #000000 !important;
    color: #ffffff !important;
    border-color: #000000 !important;
    padding: 5px 15px;
    border-radius: 4px;
}
.cld_button .btn-success.active:focus {
    box-shadow: inherit !important;
}
.pro_name_view {
    padding: 43px 0 0 20px;
    float: left;
}
.pro_name_view .pro_name {
    font-size: 22px;
    color: #000000;
    font-weight: bold;
}
.pro_name_view .pro_dtsList {
    font-size: 16px;
    color: #a0a0a0;
    top: -4px;
    position: relative;
}
.cld_list_view .view_imageList {
    margin:0 0 10px !important;
    -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    box-shadow: inherit !important;
    background: none !important;
    -webkit-border-radius: inherit !important;
    -moz-border-radius: inherit !important;
    border-radius: inherit !important;
    padding: 15px 12px;
}
.map_screenBox {
    -webkit-box-shadow: 0px 1px 13px 0px #393838;
    -moz-box-shadow: 0px 1px 13px 0px #393838;
    box-shadow: 0px 1px 13px 0px #393838;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



/*** //CALENDER START// ***/
.cld_calendar_wrap {
    height: 560px;
    width: 615px;
    margin: 0 auto;
}
.cld_calendarBox {
    height: 500px;
    width: 100%;
}
.cld_dura_wrn {
    background-color: #061726;
    height: 56px;
    border-radius: 4px;
    padding: 15px 25px;
    color: #fff;
    -webkit-box-shadow: -2px 0px 15px -3px #393838;
    -moz-box-shadow: -2px 0px 15px -3px #393838;
    box-shadow: -2px 0px 15px -3px #393838;
}
.cld_dura_wrn i.wrng_icon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
    display: inline-block;
    position: relative;
    background: url(../images/sprite.png) -2px -41px;
    float: left;
    margin-right: 18px;
}
.cld_dura_wrn span.wrng_txt {
    font-size: 16px;
    color: #fff;
    float: left;
    line-height: 27px;
}
.date-picker-wrapper {
    display: block !important;
}
.date-picker-wrapper.no-topbar {
    top: 124px !important;
    left: 0px;
    user-select: none;
    margin: 0 auto;
    right: 0;
    width: 615px;
    height: 455px;
    position: absolute;
    border-radius: 4px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    -webkit-box-shadow: -2px 0px 15px -3px #393838;
    -moz-box-shadow: -2px 0px 15px -3px #393838;
    box-shadow: -2px 0px 15px -3px #393838;
}
.date-picker-wrapper .footer {
    padding-top: 0;
}
.date-picker-wrapper .month-wrapper {
    border: inherit;
    border-radius: 4px;
    padding: 25px 25px 10px;
    box-shadow: inherit;
}
.date-picker-wrapper .month-wrapper table {
    width: 100%;
}
.cld_select_wrap {
    z-index: 9;
}
.month-name {
    font-size: 22px;
    color: #061726;
}
.month-name .month-element {text-transform: capitalize;}
.date-picker-wrapper {font-family: 'Roboto' !important;}
.date-picker-wrapper .month-wrapper table .day {
    font-size: 25px;
    padding: 10px 10px;
    line-height: 42px;
}
.date-picker-wrapper .month-wrapper table th {
    font-size: 25px;
    text-transform: capitalize;
    line-height: 40px;
    color: #061726;
}
.date-picker-wrapper .month-wrapper table th {
    font-size: 25px;
}
.date-picker-wrapper .month-wrapper table .week-name th {
    color: #8b8782;
    font-size: 18px;
    padding: 10px 10px;
}
body .date-picker-wrapper .month-name {
    font-size: 25px;
}
.date-picker-wrapper table .caption {
    height: 55px;
    border-bottom: 1px solid #e6e6e6;
}
.date-picker-wrapper .month-wrapper table td, 
.date-picker-wrapper .month-wrapper table th {
    width: 14%;
}
.date-picker-wrapper .first-date-selected, 
.date-picker-wrapper .last-date-selected {
    background-color: #061726 !important;
    color: #fff!important;
}
.date-picker-wrapper .first-date-selected {
    border-radius: 4px 0 0 4px;
}
.date-picker-wrapper .last-date-selected {
    border-radius: 0 4px 4px 0;
}
.date-picker-wrapper .month-wrapper table .day.checked {
    background-color: #c4c4c4;
}
.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
    background-color: #c4c4c4;
}
.date-picker-wrapper .month-wrapper table .day.real-today {
    background-color: inherit;
    border-radius: 4px;
    color: #061726 !important;
}
.date-picker-wrapper table .caption .next, 
.date-picker-wrapper table .caption .prev {
    background: url(../images/calendar_arrow.png) no-repeat scroll 0 0;
    width: 40px;
    height: 40px;
    position: relative;
    text-indent: -9999px;
    padding: 4px 12px;
}
.date-picker-wrapper table .caption .next {
    background-position: -68px -6px;
}
.date-picker-wrapper table .caption .prev {
    background-position: -8px -6px;
}
.date-picker-wrapper table .caption .next:hover, 
.date-picker-wrapper table .caption .prev:hover {
    background-color: #ffffff;
}
/*** //CALENDER END// ***/

.upl_wrapBox {
    height: 332px;
    max-width: 100%;
    min-width: 100%;
}
#videoupload .map_screenBox {
    width: 100%;
}
.upl_wrapBox video {
    background-color: #000000;
}
/* #videoupload .upl_wrapBox::after {
    background: url(../images/camera.png) no-repeat scroll center;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    cursor: pointer;
    text-align: center;
    top: 0;
} */

#videoupload .scr_contentBox {
    padding: 8px 15px 12px;
}
.scr_contentBox .upl_dlt {
    float: right;
}
.scr_contentBox .upl_dlt .delete {
    background: url(../images/sprite.png) no-repeat scroll -43px -115px;
    width: 25px;
    height: 25px;
    position: relative;
    display: block;
    text-indent: -9999px;
    border: none;
    padding: 0;
    cursor: pointer;
}
.upl_fileName {
    width: 100%;
    font-size: 18px;
    color: #212121;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}
.upl_fileName:focus {
    border: 1px solid #0e1d2b;
}
.upl_fileName::after {
    content: '';
    background: url(../images/sprite.png) no-repeat scroll -43px -76px;
    width: 25px;
    height: 25px;
    position: relative;
    display: block;
    text-indent: -9999px;
    border: none;
    padding: 0;
    float: right;
    top: 5px;
    cursor: pointer;
}

.scr_contentBox .upl_fileDura {
    width: 50%;
    float: left;
}
.scr_contentBox .upl_fileSolt {}
.upl_fileDura span,
.upl_fileSolt span {
    font-size: 15px;
    color: #212121;
    font-weight: 600;
    line-height: 28px;
}
.cloud_content.cloud_upld_wrap {
    padding-bottom: 430px;
}
input#fileuploader {
    opacity:0;   
}
.fileupldBtn::-webkit-file-upload-button {
    visibility: hidden;
}
.fileupldBtn::before {
    content: 'From PC';
    display: inline-block;
    background: #000000;
    border-radius: 4px 0 0 4px;
    padding: 10px 15px;
    text-transform: uppercase;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #000000;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}
.inactive .fileupldBtn::before {
    background: none;
    color: #000000;
}
.fileupldBtn:hover::before {
    border-color: black;
}
.fileupldBtn:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
input#fileuploader {
    width: 267px;
}
form#frm-upload {
    position: fixed;
    bottom: 175px;
    z-index: 99;
    margin: 0 auto;
    left: -265px;
    right: 0;
    width: 267px;
}
.fileupldBtn:active::before {background: #000000;}

a.searchBtn.nav_topBtn {
    background: #FFFFFF url(../images/search_filter_sprite.png) no-repeat /*center*/;
    background-position: 4px -45px;
}

a.searchBtn.nav_topBtn:hover{
    background: #FFFFFF url(../images/search_filter_sprite.png) no-repeat /*center*/;
    background-position: -80px -45px;
}

a.filterBtn.nav_topBtn{
    background: #FFFFFF url(../images/search_filter_sprite.png) no-repeat /*center*/;
    background-position: 4px -95px;	
}

a.filterBtn.nav_topBtn:hover{
    background: #FFFFFF url(../images/search_filter_sprite.png) no-repeat /*center*/;
    background-position: -80px -95px;	
}

a.backBtn.nav_topBtn{
    background: #FFFFFF url(../images/search_filter_sprite.png) no-repeat /*center*/;
    background-position: 4px -148px;	
}

a.backBtn.nav_topBtn:hover{
    background: #FFFFFF url(../images/search_filter_sprite.png) no-repeat /*center*/;
    background-position: -80px -148px;	
}
.nav_top_bar .right_search_ani {right: 176px;}
#cld_topSearch input {outline: none;}
#cld_topSearch input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
  float:right;
}
#cld_topSearch input::-webkit-search-decoration,
#cld_topSearch input::-webkit-search-cancel-button {display: none; }
#cld_topSearch input[type=search] {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 36px;
    -webkit-box-shadow: -3px 0px 10px -2px #393838;
    -moz-box-shadow:    -3px 0px 10px -2px #393838;
    box-shadow:         -3px 0px 10px -2px #393838;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9;
    background: #ffffff url(../images/search_collapse_sprite.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    background-position: 4px 0px;
}
#cld_topSearch input[type=search]:hover {
    background: #ffffff url(../images/search_collapse_sprite.png) no-repeat 9px center;
    background-position: 4px -57px;
}
#cld_topSearch input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}
#cld_topSearch input:-moz-placeholder {color: #999;}
#cld_topSearch input::-webkit-input-placeholder {color: #999;}
/* Demo 2 */
#cld_topSearch input[type=search] {
    width: 42px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#cld_topSearch input[type=search]:hover {background-color: #fff;}
#cld_topSearch input[type=search]:focus {
    width: 340px;
    padding-left: 58px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    border-color: #000000;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.5);
    box-shadow: 0 0 5px rgba(0,0,0,.5);
}
#cld_topSearch input:-moz-placeholder {color: transparent;}
#cld_topSearch input::-webkit-input-placeholder {color: transparent;}
#cld_topSearch input[type=search] {}


/*** //LOGIN START// ***/
.map_view_cldBox .cld_log_wrap {
    width: 560px;
    background-color: inherit;
    border-radius: 4px;
    padding: 0;
    margin: 0 auto;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
}
.cld_log_wrap .cld_log_cont {
    padding: 25px 25px 15px;
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: -2px 0px 15px -3px #393838;
    -moz-box-shadow: -2px 0px 15px -3px #393838;
    box-shadow: -2px 0px 15px -3px #393838;
}
.cld_loging .group a {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}
.cld_loging .group {
    text-align: center;
}
.cld_loging .log_forgLink {
    text-align: right;
}
.cld_loging .log_forgLink a {
    font-size: 18px;
}
.cld_loging .log_ownerLink a {
    line-height: 44px;
}
.cld_loging .log_forgLink, 
.cld_loging .log_ownerLink, 
.cld_loging .log_newuserLink {
    margin-bottom: 0;
}